*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}


.container .card-box .card img
{
    width: 200px;
    height: 230px;
    margin-top: 20px;
}

.container
{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, rgb(112, 129, 112), rgb(134, 130, 130));
    position: relative;
}

.card-box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  


}


.card-box .card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
    border: 1px solid black;
    justify-content: space-around;
    border-radius: 5px;
    border-radius: 7px;
    transition: 0.5s;
}


.card .content-box{
    margin: 10px;
    padding: 10px;

}


.card .content-box h3{
    font-size: 40px;
    font-family: 'Moon Dance', cursive;;
    text-align: center;


    

}


.card .content-box h5{
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
    


}

.card .content-box p{
    font-size: 15px;
    text-align: justify;
    line-height: 20px;
    padding: 0px 10px 10px 0px;
}

.card-box .card:hover {
    transform: translateY(-50px);

}


.container h4{
    text-align: center;
    font-size: 40px;
    font-family: 'Moon Dance', cursive;;
    position: absolute;
    top: 50px;
    left: 40%;
    border-bottom: 4px solid yellow;
    border-radius: 10px;
    padding: 0px 15px 15px 0px;
}

